---
import HeaderLink from "./HeaderLink.astro";
import { Terminal } from "@phosphor-icons/react";
const today = new Date();
---

<footer class="border-t border-green-500 mt-16 bg-dommy-black">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <span class="flex w-full justify-center px-0 text-gray-500">
      {new Date().getFullYear()}
      <p class="my-0 pl-2 pr-2">DOMINIK POLZER |</p>
      <div class="flex items-center my-2 sm:my-0">
        <Terminal size={32} />
        <HeaderLink href="/blog">
          <span> ./cd posts</span>
        </HeaderLink>
      </div>
    </span>
  </div>
</footer>
