---
import RecentPosts from "./RecentPosts.astro";
import Header from "./Header.astro";
import FeaturedPost from "./FeaturedPost.astro";
import Footer from "./Footer.astro";
---

<div class="min-h-screen bg-black text-green-500 font-mono">
  <Header/>
  <main class="container mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <FeaturedPost/>
    <RecentPosts />
  </main>
  <Footer/>
</div>
